div {
	height: 150px;
}

.container {
	text-align: center;
}

h1 {
	color: green;
	text-align: center;
	margin: 50px 0;
}

.col-md-3 {
	border: 3px solid white;
	cursor: pointer;
}

#red{
	background: red;
	height: 150px;
}

#green{
	background: green;
	height: 150px;
}

#yellow{
	background: yellow;
	height: 150px;
}

#orange{
	background: orange;
	height: 150px;
}

#purple{
	background: purple;
	height: 150px;
}

#brown{
	background: brown;
	height: 150px;
}


.blue {
	background: blue !important;
}

.blue:hover {
	background: #0000dd !important;
}

.btn-default {
	margin-top: 50px;
	width: 200px;
	color: white;
	background: green;
	display: inline-block;
}

.btn-default:hover {
	background: #006600;
	color: white;
}
